.title{
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
}
.container{
    width: 95%;
    max-width: 100rem;
    margin: 0 auto;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

.parrafo{
    font-size: 2rem;
    color: var(--white);
}

@media(min-width: 768px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
        margin-top: 5rem;
    }
}